<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lato" rel="stylesheet">
  <link href="../assets/styles/main.css" rel="stylesheet">
</head>
<body>

<header>
  <h1 class="logo">camagru</h1>
</header>

<div class="snapshots wrap">
  <div class="snapshot">
    <section class="datas">
      <div class="user">
        <div class="avatar">avatar</div>
        <div class="username">username</div>
      </div>
    </section>
    <picture class="picture"></picture>
    <section class="actions">
      <div class="buttons-actions">
        <span>Like</span>
        <span>Commenter</span>
      </div>
      <div class="score">
        <span>12 Likes</span>
      </div>
      <div class="comment">
        <form>
          <input type="text" name="add-comment" placeholder="Ajouter un commentaire">
        </form>
      </div>
    </section>
  </div>
</div>
</body>
</html>
