<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Lato" rel="stylesheet">
  <link href="../assets/styles/main.css" rel="stylesheet">
</head>
<body>

  <header>
    <h1 class="logo">camagru</h1>
  </header>

  <div id="filters">
    <div><img src="../assets/images/filters/hole.png"></div>
    <div><img src="../assets/images/filters/glasses.png"></div>
    <div><img src="../assets/images/filters/cat.png"></div>
    <div><img src="../assets/images/filters/valdemara.png"></div>
  </div>

  <div id="preview">
    <img src="http://placekitten.com/g/640/480" id="photo" alt="photo">
    <div class="filter">
      <img src="../assets/images/filters/hole.png" id="filter">
    </div>
    <video id="video"></video>
  </div>
  <button id="take">Prendre une photo</button>
  <button id="undo" disabled>Refaire</button>
  <button id="send" disabled>Envoyer</button>
  <canvas id="canvas"></canvas>
</div>
<script type="text/javascript" src="../assets/javascripts/main.js"></script>
</body>
</html>
