$gray-light: #e6e6e6;

.snapshots,
.homeSnapshots {
  &.wrap {
    max-width: 500px;
    margin: 0 auto;
  }
  .snapshot {
    border: 1px solid $gray-light;
    background-color: white;
    border-radius: 4px;
    position: relative;
    section {
      padding: 10px;
    }
    .snapshot-head {
      display: flex;
      > * {
        flex: 1;
      }
    }
    .authorCard {
      display: flex;
      align-items: center;
      > * + * {
        margin-left: 10px;
      }
    }
    figure {
      figcaption {
        @extend .u-camagruFont;
        text-align: center;
        padding: 1rem;
        margin-bottom: 5px;
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      background-color: $gray-light;
      border-radius: 100%;
      @include flex-center;
    }
    .picture {
      background-color: $gray-light;
      min-height: 100px;
      display: block;
    }
    .js-like {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
      @include anim();
      &:hover {
        color: red;
      }
    }
    & + .snapshot {
      margin-top: 4rem;
    }
    .snapshot-metas {
      @include flex-center;
      justify-content: flex-end;
      font-size: 12px;
      span + span {
        margin-left: 1rem;
      }
    }
  }
}

.singleSnapshot {
  article.snapshot {
    border: 1px solid $gray-light;
    display: flex;
    figure {
      width: 70%;
    }
    .sidePanel {
      width: 30%;
    }
  }
  .sidePanel {
    background-color: white;
    padding: 1rem;
  }
}


